{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Prijava</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_username" class="form-label">Korisničko ime</label>
      <input type="text" name="username" id="id_username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="id_password" class="form-label">Lozinka</label>
      <input type="password" name="password" id="id_password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Prijavi se</button>
  </form>
  <p class="mt-3">Nemate račun? <a href="{% url 'barberwebapp:register' %}">Registrirajte se</a>.</p>
</div>
{% endblock %}
